body {
  padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 28%;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #2196F3;
    color: #fff;
}

.starter-template > h1 {
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
    margin-top: 20px;
    padding: 10px 20px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.btn-default {
    color: #fff;
    background-color: #2196F3;
    border-color: #fff;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #2196F3;
    background-color: #fff;
    border-color: #2196F3;
}